pkl_file/models.pkl filter=lfs diff=lfs merge=lfs -text
pkl_file/model_card_0and0up.pkl filter=lfs diff=lfs merge=lfs -text
. filter=lfs diff=lfs merge=lfs -text
pkl_file/section_content_df.pkl filter=lfs diff=lfs merge=lfs -text
pkl_file/section_name.pkl filter=lfs diff=lfs merge=lfs -text
36_merged-config.csv filter=lfs diff=lfs merge=lfs -text
authorship_model.pkl filter=lfs diff=lfs merge=lfs -text
mc_models-config.csv filter=lfs diff=lfs merge=lfs -text
t filter=lfs diff=lfs merge=lfs -text
analysis.ipynb filter=lfs diff=lfs merge=lfs -text
dataset_readme2.pickle filter=lfs diff=lfs merge=lfs -text
pkl_file filter=lfs diff=lfs merge=lfs -text
recent_model_init_time3.json filter=lfs diff=lfs merge=lfs -text
2021_models filter=lfs diff=lfs merge=lfs -text
36_merged.csv filter=lfs diff=lfs merge=lfs -text
mc_models-config.json filter=lfs diff=lfs merge=lfs -text
model_author.pkl filter=lfs diff=lfs merge=lfs -text
section_name_vis.ipynb filter=lfs diff=lfs merge=lfs -text
recency_models.csv filter=lfs diff=lfs merge=lfs -text
top100.png filter=lfs diff=lfs merge=lfs -text
recent_models_init_time2.csv filter=lfs diff=lfs merge=lfs -text
section_name_vis_content.ipynb filter=lfs diff=lfs merge=lfs -text
timetrack_analysis_all_30k.pkl filter=lfs diff=lfs merge=lfs -text
author_distr.png filter=lfs diff=lfs merge=lfs -text
before-2021_models filter=lfs diff=lfs merge=lfs -text
card_info.ipynb filter=lfs diff=lfs merge=lfs -text
dataset_readme filter=lfs diff=lfs merge=lfs -text
kibana_query_control filter=lfs diff=lfs merge=lfs -text
limitation_section.csv filter=lfs diff=lfs merge=lfs -text
recent_model_init_time.json filter=lfs diff=lfs merge=lfs -text
<2021_models.csv filter=lfs diff=lfs merge=lfs -text
limitation_section_filtered.csv filter=lfs diff=lfs merge=lfs -text
output.png filter=lfs diff=lfs merge=lfs -text
datapoint_vis.ipynb filter=lfs diff=lfs merge=lfs -text
dataset_readme.pickle filter=lfs diff=lfs merge=lfs -text
model-card-contrib.png filter=lfs diff=lfs merge=lfs -text
rct filter=lfs diff=lfs merge=lfs -text
recency_models.json filter=lfs diff=lfs merge=lfs -text
recent_model_init_time2.json filter=lfs diff=lfs merge=lfs -text
recent_models_init_time.csv filter=lfs diff=lfs merge=lfs -text
tmp filter=lfs diff=lfs merge=lfs -text
top_500_recentmodels.csv filter=lfs diff=lfs merge=lfs -text
2021_model_usage.json filter=lfs diff=lfs merge=lfs -text
36_merged.json filter=lfs diff=lfs merge=lfs -text
before-2021-model-usage.csv filter=lfs diff=lfs merge=lfs -text
before-2021-model-usage.json filter=lfs diff=lfs merge=lfs -text
mc_models.json filter=lfs diff=lfs merge=lfs -text
recent_models_init_time4.csv filter=lfs diff=lfs merge=lfs -text
2021_model_usage.csv filter=lfs diff=lfs merge=lfs -text
36_merged-config.json filter=lfs diff=lfs merge=lfs -text
model_merged_HF.csv filter=lfs diff=lfs merge=lfs -text
newplot.png filter=lfs diff=lfs merge=lfs -text
tmp1 filter=lfs diff=lfs merge=lfs -text
2021_models.csv filter=lfs diff=lfs merge=lfs -text
2022_model_usage.csv filter=lfs diff=lfs merge=lfs -text
2022_model_usage.json filter=lfs diff=lfs merge=lfs -text
recent_model_init_time4.json filter=lfs diff=lfs merge=lfs -text
recent_models_init_time3.csv filter=lfs diff=lfs merge=lfs -text
2022_models filter=lfs diff=lfs merge=lfs -text
2022_models.csv filter=lfs diff=lfs merge=lfs -text
mc_models.csv filter=lfs diff=lfs merge=lfs -text
model_with_co2_df.pkl filter=lfs diff=lfs merge=lfs -text
